.marwadi{
    background-color: sienna;
    color: white;
    font-weight: bold;
    padding: 5px;
}
.navbar-background{
    background-color: peru;
}


/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 053 css*/
.jssorb053 .i {position:absolute;cursor:pointer;}
.jssorb053 .i .b {fill:#fff;fill-opacity:0.5;}
.jssorb053 .i:hover .b {fill-opacity:.7;}
.jssorb053 .iav .b {fill-opacity: 1;}
.jssorb053 .i.idn {opacity:.3;}

/*jssor slider arrow skin 093 css*/
.jssora093 {display:block;position:absolute;cursor:pointer;}
.jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093:hover {opacity:.8;}
.jssora093.jssora093dn {opacity:.6;}
.jssora093.jssora093ds {opacity:.3;pointer-events:none;}


.card-effect:hover{
    background-color: #c17f60;
    color: white;
    cursor: pointer;
}

@media (max-width:575px){
    .vinay{
        position: relative;
        left: 120px;
    }
}


@media (min-width:320px){
    .nacc{
        position: relative;
        left: 60px;
    }
}
.active:hover{
    background-color: sienna;
    border-radius: 10px;
}

.text{
    cursor: context-menu;
}
.dropdown_list:hover{
    background-color: lightgrey;
    width: 100%;
}